#weekly-view {
  padding-bottom: 5%;
}

.last-seven-days {
  @include flex(center);
  flex-direction: column;
  margin-bottom: 3rem;

  h2 {
    font-size: 2rem;
  }
  p {
    font-size: 1.4rem;
    font-weight: 500;
    color: gray;
  }
}

#one-habit-week {
  display: flex;
  flex-direction: column;
  background-color: rgb(243, 243, 243);
  margin-bottom: 0.8rem;
  height: 18rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border-left: 2px solid rgb(135, 228, 235);
}

.habit-name-week {
  font-size: 1.8rem;
  font-weight: 600;
  background-color: rgb(228, 228, 228);
  padding: 1rem;
  border-left: 2px solid skyblue;
  margin-bottom: 2rem;
}

.habit-details-div {
  @include flex(space-around);
}
.seven-week-details {
  p {
    margin-bottom: 0.5rem;
  }
}

.swd-day {
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
}

.week-btn {
  width: 4rem;
  height: 4rem;
  border-radius: 35%;
  margin-bottom: 0.5rem;
  cursor: pointer;
  color: white;
  font-size: 1.6rem;
  font-weight: 600;
}

.swd-date {
  width: auto;
  font-size: 1.2rem;
  font-weight: 400;
  color: gray;
  text-align: center;
}

.yellow {
  border: 2px solid rgb(167, 142, 0);
  background-color: rgb(240, 217, 89);
}
.red {
  border: 2px solid red;
  background-color: rgb(255, 141, 141);
}
.green {
  border: 2px solid green;
  background-color: rgb(111, 185, 111);
}
